// Place all the styles related to the Accounts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.searchpage{
    padding-top: 30px;
}

.profile-pic{
height: 30px;
width: 30px;
border-radius:50%;
}

.profile-pic_1{
    height: 40px;
    width: 40px;
    border-radius:50%;
}

.user-nav{
    .nav-item{
        padding-left: 10px;
    }
    .item{
        font-size: 20px;
    }
}

.notification-feed {
        margin-top: 1em;
        background-color: lightblue;
        padding: 1em;
    }
    
  
  .profile-pic_2{
    height: 40px;
    width: 40px;
  }

    