// Place all the styles related to the Accounts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.searchpage{
    padding-top: 30px;
}

.profile-pic{
height: 50px;
width: 50px;
border-radius:50%;
}

.table{
    padding-top: 30px;
}