<li class="nav-item active">
<%= link_to "Dashboard" , dashboard_path, class: "nav-link" %>
</li>
<li class="nav-item">
<%= link_to "New post" , "#" , class: "nav-link" %>
</li>
<li class="nav-item">
<%= link_to "My profile" , "#", class: "nav-link" %>
</li>
<li class="nav-item">
<%= link_to "Sign out" , destroy_account_session_path, method: :delete, class: "nav-link" %>
</li> 