<table class="table table-striped">
  <tr>
    <th>Follower</th>
  </tr>
  <tr>
  <% @follower_list.each do |f| %> 
      <td><%=link_to Account.find(f).username, profile_path(f) %></td>
  <% end %>
  </tr>
</table>