<div class="searchpage">
    <h3>Search Result</h3>
    <% if @results.empty? %>
        <p> No results found </p>
    <%else%> 
        <% @results.each do |result| %>
            <div class="row">
                <div class="col-0">
                    <% if result.avatar.attached? %>
                        <%= link_to image_tag(result.avatar,:class=>"profile-pic"), profile_path(result.id) %>
                    <%else%>
                        <%= link_to image_tag("profile2.jpg",:class=>"profile-pic"), profile_path(result.id) %>
                    <%end%>
                </div>
                <div class="col-1">
                    <%=link_to result.username,profile_path(result.id), :style => "font-size:20px;",:class=>"text-dark" %> 
                </div>
            </div><br/>
        <% end %>
    <% end %>
</div>